.card {
    margin: 20px 0;
    color: #191919;
    height: 295px;
    border-radius: 16px;
    box-sizing: border-box;
    box-shadow: 0px 4px 12px 0px #00000014;
    .cover {
        height: 200px;
        width: 100%;
        border-radius: 16px 16px 0 0;
        img {
            height: 200px;
            border-radius: 16px 16px 0 0;
            width: 100%;
        }
    }
    .details {
        padding: 20px;
        box-sizing: border-box;
        border: 1px solid #D9D9D9;
        border-radius: 0 0 16px 16px;
        .title {
            font-family: Playfair Display;
            font-size: 24px;
            font-weight: 500;
            line-height: 31.99px;
            text-align: left;
            text-underline-position: from-font;
            text-decoration-skip-ink: none;
        }
        .event-date {
            font-family: Poppins;
            font-size: 14px;
            font-weight: 400;
            line-height: 21px;
            text-align: left;
            text-underline-position: from-font;
            text-decoration-skip-ink: none;   
            img {
                margin-right: 5px;
                margin-top: 3px;
            }         
        }
    }
}