.headline {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url('/background.png');
    background-size: cover; /* Ensures the image covers the entire container */
    background-position: center; /* Centers the image within the container */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    width: 100%; /* Adjust the container width as needed */
    height: 449px;
    .title {
        padding: 0 50px;
        font-family: Playfair Display;
        font-size: 82px;
        font-weight: 700;
        line-height: 94.96px;
        text-align: center;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
    }
    .description {
        padding: 0 120px;
        font-family: Poppins;
        font-size: 28px;
        font-weight: 400;
        line-height: 42px;
        text-align: center;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
    }
}

.event-categories {
    margin-top: 60px;
    text-align: left;
    .category {
        border: 1px solid #D0D0D0;
        border-radius: 30px;
        margin-right: 20px;
        cursor: pointer;
        color: #4E4E4F;
        background-color: #F4F4F4;
        padding: 5px 15px;
        height: 54px;
        min-width: 60px;
        box-sizing: border-box;
        font-family: Poppins;
        font-size: 18px;
        font-weight: 500;
        line-height: 27px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        &:hover, &.active {
            background-color: #3481E8;
            color: #fff;
        }
    }
}

.event-list {
    .card {
        height: 400px;
        color: #4E4E4F;
    }
}